.anime-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .anime-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .anime-img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .anime-title {
    text-align: center;
    font-size: 14px;
  }
  
  /* Add these styles to your existing App.css */
.anime-title a {
    color: inherit;
    text-decoration: none;
  }
  
  .anime-title a:hover {
    color: #007bff;
  }

  .recommended-anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .recommended-anime-card {
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 10px;
  }
  
  .recommended-anime-img {
    width: 100%;
    height: auto;
  }
  
  .recommended-anime-title {
    font-size: 14px;
    font-weight: bold;
  }
  
  